pipeline/PL_SQL_Incremental_Load_To_ADLS.json
{
	"name": "PL_SQL_Incremental_Load_To_ADLS",
	"properties": {
		"activities": [
			{
				"name": "LK_OLD_WATERMARK",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT last_watermark_value\nFROM dbo.pipeline_watermark\nWHERE source_table_name = '@{pipeline().parameters.sourceTableName}'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AzureSQL_Parameterized",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "dbo",
							"tableName": "pipeline_watermark"
						}
					}
				}
			},
			{
				"name": "LK_NEW_WATERMARK",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "LK_OLD_WATERMARK",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT MAX(@{pipeline().parameters.watermarkColumn}) AS new_watermark_value\nFROM @{pipeline().parameters.sourceSchemaName}.@{pipeline().parameters.sourceTableName}",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AzureSQL_Parameterized",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "@pipeline().parameters.sourceSchemaName",
							"tableName": "@pipeline().parameters.sourceTableName"
						}
					}
				}
			},
			{
				"name": "CP_INCREMENTAL_LOAD",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LK_NEW_WATERMARK",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT * FROM @{pipeline().parameters.sourceSchemaName}.@{pipeline().parameters.sourceTableName}\nWHERE @{pipeline().parameters.watermarkColumn} > '@{activity('LK_OLD_WATERMARK').output.firstRow.last_watermark_value}'\nAND @{pipeline().parameters.watermarkColumn} <= '@{activity('LK_NEW_WATERMARK').output.firstRow.new_watermark_value}'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_AzureSQL_Parameterized",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "@pipeline().parameters.sourceSchemaName",
							"tableName": "@pipeline().parameters.sourceTableName"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ADLS_Parquet_Parameterized",
						"type": "DatasetReference",
						"parameters": {
							"containerName": "@pipeline().parameters.targetContainer",
							"folderPath": "@pipeline().parameters.targetFolderPath",
							"fileName": "@pipeline().parameters.targetFileName"
						}
					}
				]
			},
			{
				"name": "SP_UPDATE_WATERMARK",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CP_INCREMENTAL_LOAD",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_update_watermark]",
					"storedProcedureParameters": {
						"new_watermark_value": {
							"value": "@activity('LK_NEW_WATERMARK').output.firstRow.new_watermark_value",
							"type": "String"
						},
						"source_table_name": {
							"value": "@pipeline().parameters.sourceTableName",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureSQL_Retail",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "NB_SCD_TYPE2",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "SP_UPDATE_WATERMARK",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/updazvmnag_1777788729750@npupgradassessment.onmicrosoft.com/NB_SCD_Type2_Customer_Dimension"
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureDatabricks_Notebook",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"sourceSchemaName": {
				"type": "string",
				"defaultValue": "dbo"
			},
			"sourceTableName": {
				"type": "string",
				"defaultValue": "retail_customers_source"
			},
			"watermarkColumn": {
				"type": "string",
				"defaultValue": "updated_at"
			},
			"targetContainer": {
				"type": "string",
				"defaultValue": "raw"
			},
			"targetFolderPath": {
				"type": "string",
				"defaultValue": "retail/customers/incremental/"
			},
			"targetFileName": {
				"type": "string",
				"defaultValue": "customers_incremental.parquet"
			}
		},
		"variables": {
			"v_old_watermark": {
				"type": "String"
			},
			"v_new_watermark": {
				"type": "String"
			}
		},
		"annotations": []
	}
}